<app-navbar />

<main>

  <section id="welcome" class="section hero">
    <app-hero></app-hero>
  </section>

  <section id="services" class="section">
    <app-services></app-services>
  </section>

  <section id="pricing" class="section">
    <app-pricing></app-pricing>
  </section>

  <section id="testimonials" class="section">
    <app-testimonials></app-testimonials>
  </section>

  <section id="contact" class="section">
    <app-contact></app-contact>
  </section>

</main>

<app-footer />

<!-- global toast notifications -->
<app-toast-container></app-toast-container>